/* @import "global_overrides.css";*/
/*@import "sitesearch.css";*/
div.contact {
	/*float: left;*/
	/*margin: 0 0 10px 10px;*/
	/*border: 1px solid #666;*/
	padding: 0.5em 2em 2em 2em;
}

div.contact img {
	border: 5px solid #e5e5e5;
}

 div.thumbnail {
	float: left;
	width: 150px;
	border: 1px solid #999;
	margin: 0 15px 15px 0;
	padding: 5px;
	text-align: center;
}

 div.thumbnail p {
	padding:0;
	margin:0;
	line-height:100%;
	font-style: italic
 }
 
 .clear {
	clear:none;
}

img.right {
	float:right; 
	clear:right; 
	margin:10px;
}

/*#opacity-area, #width-area, #height-area {
		position:relative; 
		background:url(/local/img/horizontal.gif) 0 8px no-repeat; 
		height:23px; 
		width:500px; 
		margin:5px 0 5px 20px; 
		text-align:left;
}

#opacity-slider, #width-slider, #height-slider	{
	position:relative; 
	background:url(/local/img/button-horizontal.gif) no-repeat; 
	width:32px; 
	height:23px; 
	cursor:pointer;
	text-align:left;
}

#munsell-area  {
		position:relative; 
		float:left;
		background:url(/local/img/vertical.gif) 6px 0 no-repeat; 
		height:450px; 
		width:23px; 
		margin:0 5px 10px 5px; 
}

#munsell-slider{
	position:relative; 
	float:left;
	background:url(/local/img/button-vertical.gif) no-repeat; 
	width:23px; 
	height:32px; 
	cursor:pointer;
}
*/
/*image holders */
/*  try these as one class for images, another for alignment eg decalre class="centre image"*/
div.r_image , div.l_image,  div.c_image, div.inline_image {
	float: right;
	margin: 0 10px 0 0;
	padding: 5px;
	font-size:95%;
	text-align:center;
}

div.l_image {
	float: left;
}

div.c_image {
	float:none;
	margin: 0 auto;
}

div.inline_image {
	float: none;
	text-align:left;
}

/* no decoration on page anchors */

/* try not putting the anchor around text then!
div#content-primary h3 a.nohover{
	text-decoration:none;
	color:black;
}
*/