 div.thumbnail, div.cracksthmb, div.reconthmb, div.researchthmb {
	float: left;
	width: 150px;
	border: 1px solid #999;
	margin: 0 15px 15px 0;
	padding: 5px;
	text-align: center;
}
div.cracksthmb { width:200px}
div.researchthmb {
	float:left; 
	width:270px;
	/*margin: 15px;*/
	border:none;
	/*width:auto;*/
}
div#content-primary div.researchthmb p img {
	/*border:5px solid #DBD7CC;*/
	float:none;
	display:inline;
	margin:auto;
}
 div.thumbnail p, div.cracksthmb p, div.reconthmb p {
	padding:0;
	margin:0;
	line-height:100%;
	font-style: italic
 }
 
 div.thumbnail img, div.cracksthmb img , div.reconthmb img{margin:auto;}
 
 #opacity-area, #width-area, #height-area, #opacity-area2, #width-area2, #height-area2 {
		position:relative; 
		background:url(/local/images/fader/horizontal.gif) 0 8px no-repeat; 
		height:23px; 
		width:500px; 
		margin:5px 0 5px 20px; 
		text-align:left;
}

#opacity-slider, #width-slider, #height-slider,#opacity-slider2, #width-slider2, #height-slider2 {
	position:relative; 
	background:url(/local/images/fader/button-horizontal.gif) no-repeat; 
	width:32px; 
	height:23px; 
	cursor:pointer;
	text-align:left;
}

#munsell-area  {
		position:relative; 
		float:left;
		background:url(/local/images/fader/vertical.gif) 6px 0 no-repeat; 
		height:450px; 
		width:23px; 
		margin:0 5px 10px 5px; 
}

#munsell-slider{
	position:relative; 
	float:left;
	background:url(/local/images/fader/button-vertical.gif) no-repeat; 
	width:23px; 
	height:32px; 
	cursor:pointer;
}

/*image holders */
/*  try these as one class for images, another for alignment eg decalre class="centre image"*/
div.r_image , div.l_image,  div.c_image, div.inline_image {
	float: right;
	margin: 0 15px 0 0;
	padding: 5px;
	font-size:95%;
	text-align:center;
}

div.l_image {
	float: left;
}
div.c_image {float:none}
div.l_image img, div.r_image img, div.c_image img {border:5px solid #DBD7CC; display:block}
div.c_image img {margin: auto}