	div.clear {clear:both}
	div#details {padding-bottom:0em;padding-top:1em}
	div.contact img {float:right; border: 5px solid #E5E5E5; margin: 0.5em 2em 0 0.5em;}
	div#details {padding-left:1em;}
	div#details span.heading {font-weight: bold}
	div#details p {line-height:1.8em}